@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .link {
    @apply text-[#1565D8];
  }
  .text-gray {
    @apply text-[#8692A6];
  }
  .form-label {
    @apply text-[#696F79] text-[16px];
  }
  .form-input {
    @apply border border-[#8692A6] h-[64px] px-5 rounded outline-blue-500 text-[14px] focus:shadow-lg;
  }
}

.draw {
  stroke-dasharray: 100; /* total length of the path */
  stroke-dashoffset: 100; /* offset to fully hide the path initially */
  animation: drawPath 2s ease forwards; /* adjust animation duration as needed */
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0; /* animate to fully reveal the path */
  }
}